---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Hello!</h1>
  <p>
    I'm a web developer and general tinkerer based in the UK. My ambition is to
    become great at what I do and build great things whilst getting there. If I
    can do this for great causes? All the better!
  </p>
  <p>
    Building with React and TypeScript is what keeps the cash money flowing. But
    I love building with shiny new toys when I'm off the clock.
  </p>
  <p>
    This is my site. It's built with Astro. I take a digital gardening approach
    to its design and maintenance. Like my actual garden, some parts may lay in
    ruin if I get bored or want to work on another bit. Like my actual garden, I
    don't get as much time to spend on it as I'd like. Like my actual garden,
    people are welcome to visit and enjoy it, but it's mostly for my enjoyment.
  </p>
</BaseLayout>
