---
import NavListItem from "./NavListItem.astro";

// const articles = articlesGlob.map((a) => ({
//   url: a.url,
//   title: a.frontmatter.title,
// }));

const { articles } = Astro.props;
---

<nav>
  <h3>Articles</h3>
  <ul>
    {articles.map((a) => <NavListItem url={a.url} text={a.title} />)}
  </ul>
</nav>
