---
import NavListItem from "./NavListItem.astro";

interface Props {
  articles: { url?: string; title: string }[];
}

const { articles } = Astro.props;
---

<nav>
  <h3>Articles</h3>
  <ul>
    {articles.map((a) => a.url && <NavListItem url={a.url} text={a.title} />)}
  </ul>
</nav>
