---
// eslint-disable-next-line @typescript-eslint/no-unused-vars
type Props = Record<string, never>;
---

<footer>
  <p>
    All materials &copy; <span property="cc:attributionName">Dan Chambers</span
    >.
  </p>
  <p>
    All content on <span property="dct:title">danchambers.dev</span> is licensed
    under <a
      href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1"
      target="_blank"
      rel="license noopener noreferrer"
      style="display:inline-block;"
      >CC BY-SA 4.0<img
        style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
        src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
        alt=""
      /><img
        style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
        src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
        alt=""
      /><img
        style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
        src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"
        alt=""
      /></a
    >. Share freely but provide attribution.
  </p>
  <p>
    Site source code is licensed under <a
      href="https://github.com/dc-sts/danchambers.dev/blob/main/LICENSE"
      >GNU General Public License v3.0</a
    > and is available on <a href="https://github.com/dc-sts/danchambers.dev"
      >GitHub</a
    >.
  </p>
</footer>
