---
// eslint-disable-next-line @typescript-eslint/no-unused-vars
type Props = Record<string, never>;
---

<header>
  <a href="/">Dan Chambers</a>
  <nav>
    <ul>
      <li><a href="/work/">Work</a></li>
      <li><a href="/writing/">Writing</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </nav>
</header>
