---
// eslint-disable-next-line @typescript-eslint/no-unused-vars
type Props = Record<string, never>;
---

<a href="/">Dan Chambers</a>
<nav>
  <ul>
    <li><a href="/work/">Work</a></li>
    <li><a href="/writings/">Writings</a></li>
    <li><a href="/about/">About</a></li>
  </ul>
</nav>
