---
import Tag from "./Tag.astro";

interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<nav>
  <h3>Tags</h3>
  <ul>
    {
      tags.map((tag) => (
        <li>
          <a href={`/writings/${tag}`}>
            <Tag tag={tag} />
          </a>
        </li>
      ))
    }
  </ul>
</nav>
