---
const allArticles = await Astro.glob("../pages/writing/*.md");
---

<div>
  <h2>All articles</h2>
  <nav>
    <ul>
      {
        allArticles.map((a) => (
          <li>
            <a href={a.url}>{a.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>
