---
import PageHeading from "@components/PageHeading.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "Work";
---

<BaseLayout title={pageTitle}>
  <PageHeading text={pageTitle} />
  <p>It's not like I don't do any work. It's coming. I promise 😅</p>
</BaseLayout>
