---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "Work";
---

<BaseLayout title={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae sit
    beatae dolores dicta ab inventore ex excepturi officia quas cupiditate!
  </p>
</BaseLayout>
