---
import WritingsLayout from "./WritingsLayout.astro";

const { frontmatter } = Astro.props;
---

<WritingsLayout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <slot />
</WritingsLayout>
