---
import PageHeading from "@components/PageHeading.astro";
import WritingLayout from "./WritingLayout.astro";

const { frontmatter } = Astro.props;
---

<WritingLayout title={frontmatter.title}>
  <PageHeading text={frontmatter.title} />
  <div class="container prose">
    <slot />
  </div>
</WritingLayout>

<style>
  .container {
    max-width: 60ch;
  }
</style>

<script>
  const preNodes = document.querySelectorAll(".prose pre");

  preNodes.forEach((x) => {
    const wrapper = document.createElement("div");
    wrapper.classList.add("pre-wrapper");
    wrapper.appendChild(x.cloneNode(true));
    x.parentNode?.replaceChild(wrapper, x);
  });
</script>
