---
import "@fontsource/rubik/400.css";
import "@fontsource/rubik/variable.css";
import "@fontsource/rubik/variable-italic.css";
import "@styles/normalize.css";
import "@styles/global.css";
import "@styles/prose.css";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";

interface Props {
  title?: string;
  // eslint-disable-next-line
  children: any;
}

const { title } = Astro.props;
const titleText = title ? ` - ${title}` : undefined;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`Dan Chambers${titleText ?? ""}`}</title>
  </head>
  <body>
    <div class="container">
      <header>
        <Header />
      </header>
      <main>
        <slot />
      </main>
      <footer>
        <Footer />
      </footer>
    </div>
  </body>
</html>

<style>
  .container {
    min-height: 100vh;
    max-width: 85ch;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  header,
  footer {
    flex-grow: 0;
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
    padding: var(--spacing-3);
  }
</style>
