---
import ArticlesList from "@components/ArticlesList.astro";
import TagsList from "@components/TagsList.astro";
import BaseLayout from "./BaseLayout.astro";

const articlesGlob = await Astro.glob("../pages/writings/*.md");
const tags = [...new Set(articlesGlob.map((a) => a.frontmatter.tags).flat())];

const articlesListItems = articlesGlob.map((a) => ({
  url: a.url,
  title: a.frontmatter.title,
}));
---

<BaseLayout title="Writings">
  <section>
    <slot />
    <aside>
      <ArticlesList articles={articlesListItems} />
      <TagsList tags={tags} />
    </aside>
  </section>
</BaseLayout>
